.cajamaster{
    display: flex; 
    width: auto;
    height: 600px; /* Una longitud necesariamente */ 
    flex-direction: row-reverse;
    justify-content:center;
}
.caja1 {
    width: 600px;
    height: 400px;
    margin-top: 100px;
    line-height: 400px; /*separacion superior texto*/
    text-align: center;
    background-color:red;
    color: white;
}
.caja2 {
    width: 600px;
    height: 400px;
    margin-top: 100px;
    line-height: 400px;
    text-align: center;
    background-color:blue;
    color: white;
}
.caja3 {
    width: 600px;
    height: 400px;
    margin-top: 100px;
    line-height: 400px;
    text-align: center;
    background-color:green;
    color: white;
}